<div>

<head>
  Your username is <%= username %> <br>
</head>

<postid>
  Your postid is <%= postid %> <br>
</postid>

<h1>
  Title is <%- title %> <br>
</h1>

<body>
  Body is <%- body %> <br>
</body>

</div>
