<div>

<head>
  Your username is <%= username %> <br>
</head>

<postid>
  Your postid is <%= postid %> <br>
</postid>

<title>
  Title is <% title %> <br>
</title>

<body>
  Body is <% body %> <br>
</body>

</div>
