
<form >
  <div>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="hidden" name="redirect" value="<%= redirect %>">

    <button type="submit"><a href="/blog/cs144/1">Login   </a></button>
  </div>
</form>
